name: draft to release

on:
  schedule:
    - cron: '* */5 * * *'
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'
  push:
    branches:
      - master
      - main
    paths:
      - '.github/workflows/test-draft-publish-release.yml'

      # only one run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # true false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repo
        uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Check Version
        run: |
          cur_version=$(cat build.properties | grep "app.version" | head -1 | awk -F '=' 'NR==1 {print $2}' | sed 's/ //g')
          echo "cur_version: $cur_version"
          if [ -z "$cur_version" ]; then
            echo "cur_version is null"
            exit 1
          fi
          tag_name="$cur_version"

          echo "tag_name=$tag_name" >> $GITHUB_ENV

      - name: Publish release on GitHub
        if: ${{ env.tag_name }}
        uses: test-room-7/action-publish-release-drafts@v0
        with:
          github-token: ${{ github.token }}
          tag-name: ${{ env.tag_name }}

